<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  	<add key="MultyWeight" value="259459200"/>
    <add key="MakeLog" value="false"/>
    <add key="CheckCollisions" value="true"/>
    <add key="CheckLengthsFromNearEnemySnakes" value="true"/>
    <add key="UpdateStaticWeigths" value="true"/>
    <add key="AppleWeight" value="10"/>
    <add key="EvilPillWeight" value="18"/>
    <add key="CoinWeight" value="9"/>
    <add key="StoneWeight" value="2"/>
    <add key="EnemyPartOfBodyWeight" value="30"/>
    <add key="EvilWeightReducter" value="1"/>
    <add key="StoneLengthReducter" value="3"/>
    <add key="AppleLengthBooster" value="1"/>
    <add key="EvilPillTimeDuration" value="10"/>
    <add key="EvilTimeDurationForReductEvilWeight" value="15"/>
    <add key="DeepReducterCoeff" value="2"/>
    <add key="DeepLimit" value="15"/>
  </appSettings>
</configuration>